html, body {
    width: 100%;
    height: 100%;
    background-color: #f0b76f;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

#wrapper {
    width: 65%;
    margin: 0 auto;
    height: calc(200% - 75px);
    padding: 0 5px;
}

#right-wrapper {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: calc(100% - 280px);
    margin-left: 40px;
    background-color: #FFF;
    box-shadow: 12px 0 8px -4px rgba(100,100,100,0.5), -12px 0 8px -4px rgba(100,100,100,0.5);
}

#left-bar {
    width: 200px;
    display: inline-block;
    height: 100%;
    box-shadow: 12px 0 8px -4px rgba(100,100,100,0.5), -12px 0 8px -4px rgba(100,100,100,0.5);
    background-color: #FFF;
}

#left-bar h2 {
    font-size: 1.1em;
    font-weight: 200;
    text-align: center;
}

#right-wrapper h2 {
    font-size: 1.2em;
    padding: 5px;
}

.user-picture {
    margin: 2px;
}

header {
    width: 80%;
    margin: 0 auto;
}

#logo {
    display: inline-block;
}

nav {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 60px);
    height: 75px;
}

nav #right-nav {
    padding: 5px;
    list-style: none;
    margin: 0;
    float: right;
    display: inline-block;
}

nav #left-nav {
    padding: 5px;
    list-style: none;
    margin: 0;
    float: left;
    display: inline-block;
    width: 50%;
}

nav ul li {
    display: inline-block;
    padding: 5px 10px;
}

nav a, nav a:link {
    color: #000;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.post {
    width: 80%;
    height: 100px;
    padding: 10px;
    border: 1px #AAA solid;
    border-radius: 1px;
    margin: 5px auto;
}

.post .delete-button {
    width: 100%;
    text-align: right;
}

.post .post-title {
    font-weight: 300;
    font-size: 1.2em;
}

.post .post-user {
    font-size: 0.8em;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup-form {
    width: 250px;
    margin-left: calc(50% - 100px);
    margin-top: 200px;
    padding: 5px;
    background-color: #FFF;
    border-radius: 3px;
    border: 5px solid #DDD;
}

.popup-form input {
    margin-top: 5px;
}

.popup-form label {
    width: 100px;
    display: inline-block;
}